body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 85px;
}

.navbar {

    background: #9073b7;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

/* .navbar-brand {
    margin-left: 1em;
} */

.nav-link {
    transition: transform 0.3s;
    margin-right: 4em !important;
}

.nav-link:hover {
    color: #000;
    transform: scale(1.2);

}

/* .navbar-collapse {
    justify-content: flex-end;
} */

.jumbotron {
    background-image: url('background.jpg');
    height: 420px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.jumbotron h1 {
    font-size: 50px;

    font-weight: bold;

    margin-bottom: 30px;
}

.jumbotron p {
    font-size: 30px;
    margin-bottom: 20px;
}

.img-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.img-flex-container img {
    width: 5rem;
    transition: transform 0.3s ease;
}

.img-flex-container img:hover {
    transform: scale(1.2);
}

.img-wrapper {
    overflow: hidden;
    transition: transform 0.3s;
}

.img-wrapper:hover {
    transform: scale(0.9);
}

#about {
    background-color: #666;
}

.imageAboutPage {
    width: 100%;
    height: 100%;
}

.grid-container h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    grid-column: 1 / 4;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    height: 800px;
    align-content: space-evenly;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 100px;
    background-color: #2196F3;
    padding: 30px;
}

.grid-container>div {
    position: relative;
    bottom: 50px;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    font-size: 30px;
}

/* .grid-container .first{
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 20px 0;
    font-size: 30px;
} */

.grid-container .XO {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 20px 0;
    font-size: 30px;
    background-image: url(../imgs/Games_icon/XO.png);
}

.grid-container .snake {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 20px 0;
    font-size: 30px;
    background-image: url(../imgs/Games_icon/snake.png);
}

.grid-container .Minesweeper {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 20px 0;
    font-size: 30px;
    background-image: url(../imgs/Games_icon/mines2.png);
}

.grid-container .pingpong {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 20px 0;
    font-size: 30px;
    background-image: url(../imgs/Games_icon/pingpong.png);
}

.grid-container .list {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 20px 0;
    font-size: 30px;
    background-image: url(../imgs/Games_icon/icon.png) ;
}

.grid-container .XO {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 20px 0;
    font-size: 30px;
    background-image: url(../imgs/Games_icon/XO.png);
}





#footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.copyright {
    text-align: center;
    color: #faf5f5;
    padding: 0 auto;
}

.first-box {
    padding: 10px;
    background: #9C0;
}

.second-box {
    padding: 10px;
    background: #39F;
}

.third-box {
    padding: 10px;
    background: #F66;
}

.fourth-box {
    padding: 10px;
    background: #6cc;
}